* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Work Sans';
    font-size: 16px;
}
  
/* Section Navigarion bar and header */

@media only screen and (max-width: 760px) {
    .desctop {
      display: none;
    }
    nav.mobile  {
        display: flex;
    }
    
    .mobile {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 20rem;
    }
    
    .mobile ul {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        width: 100%;
    }

    .mobile li {
        display: flex;
        width: 2rem; 
    }
    
    .mobile li a:hover {
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.2);
    }

    .mobile ul li {
        list-style-type: none;
    }

    .mobile img {
        width: 1.75rem;
        height: auto;
    }   
}
.mobile  {
    display: none;
}

header {
    font-size: 16px;
    background-color: whitesmoke;
    height: 7rem;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.9;     
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

header #logo {
    display: flex;
    font-size: 2rem;
    align-items: center;
}

#logo a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;

}

#logo a:visited {
    color: black;
    opacity: 0.8;
}

#logo a:hover {
    background: rgba(0, 0, 0, 0.1);;
}


.desctop {
    width: 55rem;
}

.desctop ul {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desctop ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    min-width: 9rem;
    max-width: 12rem;
    flex: 1 1 ;
    height: 7rem;
}

.desctop ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    opacity: 0.9;
    font-size: 1.25rem;
    align-content: center;
}

.desctop ul li a:hover {
    color: black;
}

.desctop ul li a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.desctop ul li a:hover::before {
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    position: relative;
    top: 7rem;   
    background-image: url(https://northeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Fjdclv-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!AkIKMvAQckes1-bqtgeGHSnrNtXHMFVMixSLnleQgs-JNH97TYaAT6dZXzioT1Pr%2Fitems%2F017TC42QEAI42VYKNDKBF2TMFKB3X5I4J3%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvamRjbHYtbXkuc2hhcmVwb2ludC5jb21ANDdkNDVlMTQtMjRjOC00Y2E4LWE0YjktM2ExNGU0MWUzNDA5IiwiaXNzIjoiMDAwMDAwMDMtMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwIiwibmJmIjoiMTYzNjk3NzYwMCIsImV4cCI6IjE2MzY5OTkyMDAiLCJlbmRwb2ludHVybCI6Im1ZUS8vR0lsQzZRUm0rNFNsNC8rWW16eDhWQ2VCaW9qdW1TaVpVUDVCMjA9IiwiZW5kcG9pbnR1cmxMZW5ndGgiOiIxMTUiLCJpc2xvb3BiYWNrIjoiVHJ1ZSIsInZlciI6Imhhc2hlZHByb29mdG9rZW4iLCJzaXRlaWQiOiJNekl3WVRReU1ESXRNVEJtTUMwME56Y3lMV0ZqWkRjdFpUWmxZV0kyTURjNE5qRmsiLCJzaWduaW5fc3RhdGUiOiJbXCJrbXNpXCJdIiwibmFtZWlkIjoiMCMuZnxtZW1iZXJzaGlwfHYua29sZXNuaWNoZW5rb0BqZGMtY2lzLmNvbSIsIm5paSI6Im1pY3Jvc29mdC5zaGFyZXBvaW50IiwiaXN1c2VyIjoidHJ1ZSIsImNhY2hla2V5IjoiMGguZnxtZW1iZXJzaGlwfDEwMDM3ZmZlYWQ0NTYwN2NAbGl2ZS5jb20iLCJzZXNzaW9uaWQiOiJiNWM4ZjQ5OS1mNjM2LTQxZmItODk4OS0yNTBjZGI4OTQ1ZjEiLCJ0dCI6IjAiLCJ1c2VQZXJzaXN0ZW50Q29va2llIjoiMyIsImlwYWRkciI6Ijg5LjY0LjY1LjIyNSJ9.MWxOOGhmZWhwbHlRTUg3Undac3Z6VzZWYU94VkFuK2cvakx0N2llcjlSdz0&cTag=%22c%3A%7B5C354780-A329-4B50-A9B0-AA0EEFD4713B%7D%2C2%22&encodeFailures=1&width=1228&height=888&srcWidth=&srcHeight=);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 1rem auto;
    width: 80%;
    height: 40rem;
}

.banner .text {
    background: rgba(0,0,0,.5);
    display: flex;
    top:0;
    flex-flow: column;
    margin-left: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    height: 20rem;
    min-width: 200px;
    max-width: 50%;
}

.banner .text h1 {
    font-size: 3rem;
    font-weight: 200;
    opacity: 0.9;
    color: white;
}

.banner .text h2 {
    font-size: 2rem;
    opacity: 0.9;
    font-weight: 200;
    color: white;
}

.banner .text h4 {
    font-size: 1.75rem;
    opacity: 0.9;
    font-weight: 200;
    color: white;
}

/* Section About us */

.abouts {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.abouts .about p {
    padding: 1rem 0  1rem 0;
    font-size: 1.5rem;
    text-align: justify;
    width: 80%;
    margin: auto;
    line-height: 2em;
}

.solution_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1;
    justify-content: space-around;
}

.solutions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    width:23rem;
    height: auto;
    margin: 1rem 0 1rem 0;
}

.solution_picture img {
    width: 100%;
    height: 16rem;
}

.solution_text h2 {
    text-transform: uppercase;
    font-size: 1.75rem;
    opacity: 0.8;
}

.solution_text ul li  {
    list-style-type: none;
    line-height: 2rem;
    font-size: 1.5rem;
    opacity: 0.8;
}

/* Projects section */

section {
    position: relative;
    top: 7rem;
}

.heading {
    display: flex;
    margin: 2rem auto 2rem auto;
    height: 5rem;
    font-size: 1.25rem;
    font-weight: lighter;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    background-image: url(https://northeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Fjdclv-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!AkIKMvAQckes1-bqtgeGHSnrNtXHMFVMixSLnleQgs-JNH97TYaAT6dZXzioT1Pr%2Fitems%2F017TC42QBESNYHW22XN5GI56UX6O2A2I7F%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvamRjbHYtbXkuc2hhcmVwb2ludC5jb21ANDdkNDVlMTQtMjRjOC00Y2E4LWE0YjktM2ExNGU0MWUzNDA5IiwiaXNzIjoiMDAwMDAwMDMtMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwIiwibmJmIjoiMTYzNjk3NzYwMCIsImV4cCI6IjE2MzY5OTkyMDAiLCJlbmRwb2ludHVybCI6Im1ZUS8vR0lsQzZRUm0rNFNsNC8rWW16eDhWQ2VCaW9qdW1TaVpVUDVCMjA9IiwiZW5kcG9pbnR1cmxMZW5ndGgiOiIxMTUiLCJpc2xvb3BiYWNrIjoiVHJ1ZSIsInZlciI6Imhhc2hlZHByb29mdG9rZW4iLCJzaXRlaWQiOiJNekl3WVRReU1ESXRNVEJtTUMwME56Y3lMV0ZqWkRjdFpUWmxZV0kyTURjNE5qRmsiLCJzaWduaW5fc3RhdGUiOiJbXCJrbXNpXCJdIiwibmFtZWlkIjoiMCMuZnxtZW1iZXJzaGlwfHYua29sZXNuaWNoZW5rb0BqZGMtY2lzLmNvbSIsIm5paSI6Im1pY3Jvc29mdC5zaGFyZXBvaW50IiwiaXN1c2VyIjoidHJ1ZSIsImNhY2hla2V5IjoiMGguZnxtZW1iZXJzaGlwfDEwMDM3ZmZlYWQ0NTYwN2NAbGl2ZS5jb20iLCJzZXNzaW9uaWQiOiJiNWM4ZjQ5OS1mNjM2LTQxZmItODk4OS0yNTBjZGI4OTQ1ZjEiLCJ0dCI6IjAiLCJ1c2VQZXJzaXN0ZW50Q29va2llIjoiMyIsImlwYWRkciI6Ijg5LjY0LjY1LjIyNSJ9.MWxOOGhmZWhwbHlRTUg3Undac3Z6VzZWYU94VkFuK2cvakx0N2llcjlSdz0&cTag=%22c%3A%7B7B709324-576B-4C6F-8EFA-97F3B40D23E5%7D%2C2%22&encodeFailures=1&width=1228&height=888&srcWidth=&srcHeight=);
    background-size: cover;
    background-repeat: repeat;
    width: 80%;
    font-weight: 600;
}

.heading h2 {
    font-size: 2.5rem;
    font-weight: lighter;
}

.drawings {
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
}

.drawings .drawing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 80%;
}

.drawing img {
    max-width: 100%;
    max-height: 35rem;
}

.drawings h3 {
    font-size: 0.75rem;
    font-weight: 200;
}

/* Section Our Team */

.team_section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    align-items: center;
    align-content: center;
    max-width: 20rem;
}

.person .photo img {
    margin-left: 10%;
    max-width: 80%;
    border-radius: 50%;
}

.bio {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    line-height: 1.7rem;
    margin-top: 0.5rem;
    opacity: 0.8;
}

.bio h2 {
    line-height: 2rem;
}

/* Footer section */

footer {
    position: relative;
    top: 7rem;
    height: 7rem;
    background-color: whitesmoke;
}

footer p {
    position: relative;
    line-height: 7rem;
    text-align: center;
}